    <h3>Add New Student</h3>    
<div class="createUSerContainer">
    <div class="createUserHead">
        <img src="" alt="here goes an invite image">
        <span>Register New Student</span>
    </div>
    <form id="create-user">
        <label for="">Name</label>
        <input type="text" id="name" required>
        <label for="">Email</label>
        <input type="text" id="email" required>
        <label for="">Phone</label>
        <input type="number" id="phone" required>
        <label for="">Enrrol Number</label>
        <input type="number" id="enrollNumber" required>
        <label for="">Date of admission</label>
        <input type="date" id="dateOfAdmission" required>
        <nav>
                <button type="button" id="cancelBtn">Cancel</button>
            <button type="submit" id="createUserButton">Submit</button>
        </nav>
    </form>
</div>